<!DOCTYPE html>

<head>
  <title>subwayrt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    body { text-align: center; }
    .rapid { color: green; }
    .frequent { color: orange; }
    .degraded { color: red; }
  </style>
</head>

<body>
  <div class="container">
    <h1>subwayrt</h1>

    <div class="row">
      <% for (var lineGroup in lineDisplayGroups) { %>
        <div class="col-md-6">
          <% for (var lineGroup2 of lineDisplayGroups[lineGroup]) { %>
            <div>
              <% for(var lineCode of lineGroup2) { %>
                <% var desc = getStatusDescription(lines[lineCode]['NORTH']); %>
                <p>
                  <%= lineCode %>: <span class="<%= desc %>"><%= desc %></span>
                  <small><%= Object.keys(lines[lineCode]).map((d) => { return `${d}: ${lines[lineCode][d]}`; }) %></small>
                </p>
              <% } %>
            </div>
            <hr>
          <% } %>
        </div>
      <% } %>

<!--
        <div>
          <% for(var lineCode of ['L']) { %>
            <% var desc = getStatusDescription(lines[lineCode]['NORTH']); %>
            <p>
              <%= lineCode %>: <span class="<%= desc %>"><%= desc %></span>
              <small><%= Object.keys(lines[lineCode]).map((d) => { return `${d}: ${lines[lineCode][d]}`; }) %></small>
            </p>
          <% } %>
        </div>

        <hr>
      -->
    </div>
  </div>
</body>
