<!DOCTYPE html>

<head>
  <title>subwayrt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    h1, h3, h5 { text-align: center; }
    .Rapid { color: green; }
    .Frequent { color: orange; }
    .Degraded { color: red; }
  </style>
</head>

<body>
  <div class="container">
    <h1>subwayrt</h1>
    <h5>Average subway wait times</h5>

    <div class="row">
      <% for (var lineCategory in lineCategories) { %>
        <% var lineCategoryName = lineCategories[lineCategory].name %>
        <div class="col-md-4">
          <h3 class="<%= lineCategoryName %>">
            <%= lineCategoryName %>
            (<small><%= lineCategories[lineCategory].desc %></small>)
          </h3>

          <ul>
            <% for(var lineCode in lines[lineCategoryName]) { %>
              <li>
                <%= lineCode %> Train
                (<small>NORTH: <%= lines[lineCategoryName][lineCode].NORTH %>,
                   SOUTH: <%= lines[lineCategoryName][lineCode].SOUTH %></small>)
              </li>
            <% } %>
          </ul>
        </div>
      <% } %>
    </div>

    <p>Based on data from the Metropolitan Transportation Authority.</p>
  </div>
</body>
